*{
    list-style:none;
    text-decoration:none;
    padding:0;
    margin:0;
}

#wrap{
    width:100%;
}

.header{
        width:100%; 
        border-bottom:1px solid #ebebeb;
}

.header_inner{
    width:80%;
    margin:0 auto;
}

.top_menu{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding:10px 0;
}
.util{
    
    margin-right:30px;
}
.util--3{
    margin-right:0;
}

.top_menu .util li{
    float:left;
}

.util-hyphen{
    padding:0 10px;
}
.util li a{
    color:#464646;
}

.util--1{
    font-size:11px;
}
.util--2{
    font-size:12px;
    font-weight:bold;

    display:flex;
    border-radius:3px;
    box-shadow:1px 1px 1px #ebebeb;
}

.util--2 li {
    justify-content:center;
    border-right:1px solid #ebebeb;
    text-align:center;
    padding:5px 10px;
}
.util--2 li a{
    display:block;
}

.util--2 li:last-child a{
    color:blue;
}




.util--2 li:last-child{
    border:none;
}

.util--3{
    font-size:12px;
    font-weight:bold;
    border:1px solid #ebebeb;
    border-radius:3px;
    box-shadow:1px 1px 1px #ebebeb;
}

.util--3 p{
    padding:3px 5px;
}

.nav{
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 0;
    border:1px solid #ebebeb;
}

.nav__left{
    float:left;
}

.logo{
    border:1px solid #000;
    width:100%;
    background:url(./img/h1_logo.gif);
}

.nav__right{
    float:right;
}
.gnb{display:flex; align-items:center;}
.gnb li{float:left; font-weight:bold; color:#000; padding-right:30px;}
.gnb li:last-child{padding-right:0;}
.gnb li a{font-size:15px;}

.search{border:1px solid #ebebeb; border-radius:20px; overflow:hidden; display:flex; align-items:center;}
.search input{border:none; margin-left:20px;   height:25px;  line-height:25px;}
.search button{margin-right:20px; background: url('/img/bg_search.png') 50% 50% no-repeat; width:24px; 
    height:24px; border:none; margin:0 20px 0 0;  display:inline-block; vertical-align:middle;}
