@charset "UTF-8";
@import url(reset.css);
@import url(font.css);
@import url(swiper.min.css);
#skipNavigation {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
}

#skipNavigation a {
  display: block;
  left: -9000px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 500;
}

#skipNavigation a:hover, #skipNavigation a:focus, #skipNavigation a:active {
  position: Absolute;
  padding: 0.15rem 0;
  left: 0;
  color: #000;
  font-size: 2rem;
  z-index: 500;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  margin: 0;
}

.floatNo {
  float: none !important;
}

.floatR {
  float: right !important;
}

.floatL {
  float: left !important;
}

.bg--white {
  background-color: #fff;
}

.bg--gray {
  background-color: #f8f8fa;
}

/* parts:width */
.w_100 {
  width: 100% !important;
}

.w_75 {
  width: 75% !important;
}

.w_50 {
  width: 50% !important;
}

.w_45 {
  width: 45% !important;
}

.w_25 {
  width: 25% !important;
}

.w_auto {
  width: auto !important;
}

.w_titan {
  width: 80rem !important;
}

.w_xlarge {
  width: 70rem !important;
}

.w_wide {
  width: 50rem !important;
}

.w_xlarge {
  width: 40rem !important;
}

.w_slarge {
  width: 30rem !important;
}

.w_large {
  width: 25rem !important;
}

.w_fit {
  width: 20rem !important;
}

.w_medium {
  width: 15rem !important;
}

.w_normal {
  width: 14rem !important;
}

.w_small {
  width: 10rem !important;
}

.w_tiny {
  width: 5rem !important;
}

.color-red {
  color: #CA1C1D !important;
}

.color-lightpink {
  color: #fcedf4 !important;
}

.color-deeppink {
  color: #c41a66 !important;
}

.color-black {
  color: #000 !important;
}

.color-fontgray {
  color: #747478;
}

.color-lightgray {
  color: #dddddd;
}

.color-gray {
  color: #747478;
}

.color-white {
  color: #fff !important;
}

.color-blue {
  color: #2024dc !important;
}

.color-cherryRed {
  color: #f7592a !important;
}

.font-family__sn {
  font-family: "SeoulNamsan";
}

.font-weight__l {
  font-weight: 200;
}

.font-weight__r {
  font-weight: 300;
}

.font-weight__m {
  font-weight: 500 !important;
}

.font-weight__b {
  font-weight: 600 !important;
}

.mg-0 {
  margin: 0 !important;
}

.ml_5 {
  margin-left: .5rem;
}

.mr_5 {
  margin-right: .5rem;
}

.mt_5 {
  margin-top: .5rem;
}

.mt_10 {
  margin-top: 1rem;
}

.ml_10 {
  margin-left: 1rem !important;
}

.mr_10 {
  margin-right: 1rem !important;
}

.mb_10 {
  margin-bottom: 1rem;
}

.mb_15 {
  margin-bottom: 1.5rem;
}

.mt_15 {
  margin-top: 1.5rem;
}

.mr_15 {
  margin-right: 1.5rem !important;
}

.mt_20 {
  margin-top: 2rem !important;
}

.mb_20 {
  margin-bottom: 2rem;
}

.ml_20 {
  margin-left: 2rem !important;
}

.mr_20 {
  margin-right: 2rem;
}

.mt_25 {
  margin-top: 2.5rem;
}

.mr_25 {
  margin-right: 2.5rem;
}

.ml_30 {
  margin-left: 3rem;
}

.mt_30 {
  margin-top: 3rem !important;
}

.mb_30 {
  margin-bottom: 3rem;
}

.mt_35 {
  margin-top: 3.5rem;
}

.mt_40 {
  margin-top: 4rem !important;
}

.ml_40 {
  margin-left: 4rem;
}

.mt_45 {
  margin-top: 4.5rem;
}

.ml_45 {
  margin-left: 4.5rem;
}

.ml_50 {
  margin-left: 5rem;
}

.ml_60 {
  margin-left: 6rem;
}

.mt_50 {
  margin-top: 5rem;
}

.mb_40 {
  margin-bottom: 4rem;
}

.mb_50 {
  margin-bottom: 5rem !important;
}

.mt_60 {
  margin-top: 6rem;
}

.mt_80 {
  margin-top: 8rem;
}

.ml_80 {
  margin-left: 8rem;
}

.mt_90 {
  margin-top: 9rem;
}

.mt_100 {
  margin-top: 10rem;
}

.mt_120 {
  margin-top: 12rem;
}

.my_4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mx_2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.pl_10 {
  padding-left: 1rem;
}

.pd_0 {
  padding: 0 !important;
}

.pd_1 {
  padding: 1rem;
}

.pd_2 {
  padding: 2rem;
}

.pd_3 {
  padding: 3rem;
}

.pd_4 {
  padding: 4rem;
}

.pd_5 {
  padding: 5rem;
}

.pd_6 {
  padding: 6rem;
}

.px_1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px_2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px_3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px_4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px_5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.px_6 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.py_1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py_2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py_3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py_4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py_5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py_6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py_9 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.py_9:last-child {
  padding-bottom: 0;
}

.pt_0 {
  padding-top: 0 !important;
}

.pt_1 {
  padding-top: 1rem;
}

.pt_2 {
  padding-top: 2rem;
}

.pt_3 {
  padding-top: 3rem;
}

.pt_4 {
  padding-top: 4rem;
}

.pt_5 {
  padding-top: 5rem;
}

.pt_9 {
  padding-top: 9rem;
}

.pr_0 {
  padding-right: 0 !important;
}

.pr_1 {
  padding-right: 1rem;
}

.pr_2 {
  padding-right: 2rem;
}

.pr_3 {
  padding-right: 3rem;
}

.pr_4 {
  padding-right: 4rem;
}

.pr_5 {
  padding-right: 5rem;
}

.pb_0 {
  padding-bottom: 0 !important;
}

.pb_1 {
  padding-bottom: 1rem;
}

.pb_2 {
  padding-bottom: 2rem;
}

.pb_3 {
  padding-bottom: 3rem;
}

.pb_4 {
  padding-bottom: 4rem;
}

.pb_5 {
  padding-bottom: 5rem;
}

.pl_0 {
  padding-left: 0 !important;
}

.pl_1 {
  padding-left: 1rem;
}

.pl_2 {
  padding-left: 2rem;
}

.pl_3 {
  padding-left: 3rem;
}

.pl_4 {
  padding-left: 4rem;
}

.pl_5 {
  padding-left: 5rem;
}

.pb_100 {
  padding-bottom: 10rem;
}

.font_30 {
  font-size: 3rem;
  line-height: 3.2rem;
}

/* 공통 */
html {
  font-size: 62.5%;
  font-weight: 300;
  letter-spacing: -0.25px;
}

@media (max-width: 720px) {
  html {
    font-size: 57.81%;
  }
}

@media (max-width: 640px) {
  html {
    font-size: calc(62.5% / 1.3);
  }
}

@media (max-width: 540px) {
  html {
    font-size: calc(62.5% / 1.7);
  }
}

@media (max-width: 375px) {
  html {
    font-size: calc(62.5% / 2);
  }
}

p {
  font-size: 2rem;
  color: #000000;
}

p.font-s {
  font-size: 1.8rem;
}

.font-l {
  font-size: 2.6rem !important;
}

.font-m {
  font-size: 2.4rem !important;
}

.font-s {
  font-size: 1.8rem !important;
}

.font-xs {
  font-size: 1.6rem !important;
}

h1 {
  font-size: 3.2rem;
  margin: 0;
}

h1 .caption {
  display: block;
  font-size: 1.7rem;
  color: #747478;
}

h2 {
  font-size: 3rem;
}

h2 .caption {
  display: block;
  font-size: 1.7rem;
  color: #747478;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

.siteMap_wrap, .mobile_wrap {
  display: none;
}

.inner {
  max-width: 140rem;
  height: 100%;
  margin: 0 auto;
}

/* header */
body {
  overflow-x: hidden;
}

header {
  height: 18rem;
  background-color: #fff;
  overflow-x: clip;
}

.headerTop {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.7rem 0 1.5rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 11rem;
  border-bottom: 1px solid #e5e5e5;
}

.headerTop:before {
  position: absolute;
  width: 50%;
  height: 1px;
  left: -50%;
  bottom: -1px;
  background-color: #e5e5e5;
  content: '';
}

.headerTop:after {
  position: absolute;
  width: 50%;
  height: 1px;
  right: -50%;
  bottom: -1px;
  background-color: #e5e5e5;
  content: '';
}

.headerTop .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 18.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerTop .socialMedia a {
  width: 2.5rem;
  height: 2rem;
}

.headerTop .socialMedia a.kakao {
  background: url(../../resource/image/common/icon/icon_kakaoM.png) no-repeat;
  background-size: contain;
}

.headerTop .socialMedia a.facebook {
  background: url(../../resource/image/common/icon/icon_facebookM.png) no-repeat;
  background-size: contain;
}

.headerTop .socialMedia a.youtube {
  background: url(../../resource/image/common/icon/icon_youtubeM.png) no-repeat;
  background-size: contain;
}

.headerTop .socialMedia a.instagram {
  background: url(../../resource/image/common/icon/icon_instagramM.png) no-repeat;
  background-size: contain;
}

.headerTop .socialMedia a.blog {
  background: url(../../resource/image/common/icon/icon_blogM.png) no-repeat;
  background-size: contain;
}

.navigation {
  position: absolute;
  width: 100%;
  max-width: 140rem;
  z-index: 2;
}

.navigation .gnb {
  width: 100%;
}

.navigation .gnb .show {
  -webkit-transition: top .3s ease-out;
  transition: top .3s ease-out;
  position: absolute;
  margin: 0;
  top: 7rem;
  width: 200%;
  left: -50%;
  height: 27rem;
  background-color: rgba(4, 93, 172, 0.92);
  z-index: 0;
  opacity: 0;
}

.navigation .gnb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  z-index: 2;
}

.navigation .gnb ul li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navigation .gnb ul li:nth-child(1) ul {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.navigation .gnb ul li a {
  width: 100%;
  height: 7rem;
  font-weight: 600;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  color: #000;
  font-size: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navigation .gnb ul li a.active {
  color: #005aab;
}

.navigation .gnb ul li .depth2 {
  display: none;
  width: calc( 100% - 1px);
  background: transparent;
  height: 27rem;
  padding-top: 2rem;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  left: 0;
  top: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation .gnb ul li .depth2.active {
  background-color: rgba(4, 93, 172, 0.92);
}

.navigation .gnb ul li .depth2 li {
  position: relative;
}

.navigation .gnb ul li .depth2 li a {
  position: relative;
  width: auto;
  font-size: 1.6rem;
  color: #fff;
  padding: 8px 0;
  height: auto;
  padding-right: 2rem;
  padding-left: 2rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  text-align: center;
  opacity: 0.8;
}

.navigation .gnb ul li .depth2 li a:hover {
  opacity: 1;
  font-weight: 500;
}

.btn_sitemap {
  display: none;
}

.footer .banner_zone {
  padding: 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f3f4f6;
}

.footer .banner_zone .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .banner_zone .zone {
  padding-top: 3rem;
  width: 15rem;
  height: 7.9rem;
  color: #005aab;
  font-size: 1.8rem;
  font-weight: 500;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: -0.5px;
}

.footer .banner_zone .swiper-container {
  width: calc(100% - 15rem);
  padding-left: 0.1rem;
}

.footer .banner_zone .swiper-container .swiper-wrapper {
  position: relative;
}

.footer .banner_zone .swiper-container .swiper-wrapper .swiper-slide a img {
  border: 1px solid #ddd;
}

.footer .banner_zone .footerbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
  width: 9.5rem;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f3f4f6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
}

.footer .banner_zone .footerbtn .swiper-button-prev {
  position: relative;
  top: 50%;
  left: auto;
  width: 1.3rem;
  height: 1.9rem;
  margin: 0;
  background: url(../../resource/image/common/icon/icon_arrowLeft_b.png) no-repeat center center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.footer .banner_zone .footerbtn .swiper-button-prev:after, .footer .banner_zone .footerbtn .swiper-button-prev .swiper-container-rtl .swiper-button-next:after {
  display: none;
}

.footer .banner_zone .footerbtn .swiper-button-pause {
  position: relative;
  top: 50%;
  left: auto;
  width: 1.3rem;
  height: 1.9rem;
  margin: 0;
  background: url(../../resource/image/common/icon/icon_pause_b.png) no-repeat center center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.footer .banner_zone .footerbtn .swiper-button-pause.off {
  background: url(../../resource/image/common/icon/icon_play_b.png) no-repeat center center;
}

.footer .banner_zone .footerbtn .swiper-button-next {
  position: relative;
  top: 50%;
  right: 0;
  left: auto;
  width: 1.3rem;
  height: 1.9rem;
  margin: 0;
  background: url(../../resource/image/common/icon/icon_arrowRight_b.png) no-repeat center center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.footer .banner_zone .footerbtn .swiper-button-next:after, .footer .banner_zone .footerbtn .swiper-button-next .swiper-container-rtl .swiper-button-prev:after {
  display: none;
}

.footer .footer_info {
  padding: 6rem 6.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer .footer_info .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer_info .inner .footerLogo {
  line-height: 13rem;
}

.footer .footer_info .inner .footerLogo img {
  vertical-align: middle;
}

.footer .footer_info .inner .foot-info {
  padding-left: 10rem;
}

.footer .footer_info .inner .foot-info .fPage {
  display: inline-block;
  margin-bottom: 1.5rem;
}

.footer .footer_info .inner .foot-info .fPage a {
  font-size: 1.6rem;
  color: #005aab;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.footer .footer_info .inner .foot-info .fPage a + a {
  padding-left: 1.2rem;
  color: #000;
}

.footer .footer_info .inner .foot-info ul li {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000;
}

.footer .footer_info .inner .foot-info ul li + li {
  position: relative;
  margin-left: 1.5rem;
}

.footer .footer_info .inner .foot-info ul li + li::before {
  position: absolute;
  left: -0.8rem;
  width: 1px;
  height: 1.4rem;
  background-color: #b8b8b8;
  content: '';
}

.footer .footer_info .inner .foot-info ul + ul {
  display: inline-block;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.footer .footer_info .inner .foot-info ul + ul + ul {
  position: relative;
}

.footer .footer_info .inner .foot-info ul + ul + ul::before {
  position: absolute;
  left: -0.8rem;
  width: 1px;
  height: 1.4rem;
  background-color: #b8b8b8;
  content: '';
}

.footer .right {
  margin-top: 4.3rem;
  font-size: 1.4rem;
  color: #747478;
}

body.fixed {
  overflow: hidden;
  height: initial;
  background-color: #FFF;
}

.mMenu {
  display: none;
}

/* responsive */
@media (max-width: 1200px) {
  /* footer */
  .footer .footer_info .foot-info ul + ul {
    display: block !important;
    margin-left: 0 !important;
  }
  .footer .footer_info .foot-info ul + ul + ul::before {
    display: none;
  }
  .footer .footer_info .foot-info .right {
    font-size: 2rem !important;
  }
}

@media (max-width: 1024px) {
  header {
    height: 13.4rem;
  }
  header .headerTop {
    height: 13.4rem;
    padding: 3.1rem 2.4rem 2.8rem;
    border-bottom: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .headerTop h1 {
    position: absolute;
    left: 2.4rem;
  }
  header .headerTop h1 img {
    height: 7.9rem;
  }
  header .headerTop .socialMedia {
    width: 28rem;
    padding-left: 20rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .headerTop .socialMedia a {
    width: 3.8rem;
    height: 3.1rem;
    padding: 0 1.5rem;
  }
  header .navigation {
    display: none;
  }
  /* mMenu */
  .mMenu {
    display: block;
    padding-top: 2rem;
    padding-left: 3rem;
    width: 3.9rem;
  }
  .mMenu .topBlue.active {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 13.4rem;
    background-color: #005aab;
    z-index: 3;
  }
  .mMenu .topBlue.active .button_container {
    position: absolute;
    top: 5.1rem;
    right: 3.5rem;
  }
  .mMenu .topBlue.active .button_container span {
    height: 0.2rem;
  }
  .mMenu .topBlue .button_container {
    position: relative;
    top: 5%;
    right: 2%;
    height: 3.2rem;
    width: 3.9rem;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
  }
  .mMenu .topBlue .button_container.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
            transform: translateY(11px) translateX(0) rotate(45deg);
    background: #fff;
  }
  .mMenu .topBlue .button_container.active .middle {
    opacity: 0;
    background: #fff;
  }
  .mMenu .topBlue .button_container.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
            transform: translateY(-11px) translateX(0) rotate(-45deg);
    top: 3.5rem;
    background: #fff;
  }
  .mMenu .topBlue .button_container span {
    background: #000;
    border: none;
    height: 0.4rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
  }
  .mMenu .topBlue .button_container span:nth-of-type(2) {
    top: 1.1rem;
  }
  .mMenu .topBlue .button_container span:nth-of-type(3) {
    top: 2.2rem;
  }
  .mMenu .overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 0%;
    z-index: 2;
    overflow: hidden;
  }
  .mMenu .overlay.open {
    height: 100%;
  }
  .mMenu .overlay.open li {
    -webkit-animation: fadeInRight .45s ease forwards;
            animation: fadeInRight .45s ease forwards;
    -webkit-animation-delay: .3s;
            animation-delay: .3s;
  }
  .mMenu .overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .33s;
            animation-delay: .33s;
  }
  .mMenu .overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .36s;
            animation-delay: .36s;
  }
  .mMenu .overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .39s;
            animation-delay: .39s;
  }
  .mMenu .overlay.open li:nth-of-type(5) {
    -webkit-animation-delay: .42s;
            animation-delay: .42s;
  }
  .mMenu .overlay.open li:nth-of-type(6) {
    -webkit-animation-delay: .45s;
            animation-delay: .45s;
  }
  .mMenu .overlay.open li:nth-of-type(7) {
    -webkit-animation-delay: .48s;
            animation-delay: .48s;
  }
  .mMenu .overlay .overlayBox {
    position: absolute;
    margin-top: 13.4rem;
    background-color: #fff;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 80%;
    height: 100vh;
    z-index: 2;
    overflow: auto;
  }
  .mMenu .overlay .overlayBox .overlay-menu {
    width: 100%;
  }
  .mMenu .overlay .overlayBox .overlay-menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .mMenu .overlay .overlayBox .overlay-menu ul li {
    display: block;
    text-align: left;
    height: 25%;
    height: calc(100% / 7);
    position: relative;
    opacity: 0;
  }
  .mMenu .overlay .overlayBox .overlay-menu ul li + li {
    border-top: 1px solid #ddd;
  }
  .mMenu .overlay .overlayBox .overlay-menu ul li a {
    display: block;
    padding: 4.5rem 0 4.5rem 3rem;
    position: relative;
    color: #000;
    text-decoration: none;
    overflow: hidden;
    font-size: 3.2rem;
    font-weight: 500;
    text-align: left;
  }
  .mMenu .overlay .overlayBox .overlay-menu ul.depth2 {
    display: none;
    padding: 5.8rem 0 5.8rem 6rem;
    border-top: 1px solid #005aab;
    background-color: #e5eef6;
  }
  .mMenu .overlay .overlayBox .overlay-menu ul.depth2 li + li {
    border-top: 0;
    padding-top: 5rem;
  }
  .mMenu .overlay .overlayBox .overlay-menu ul.depth2 li a {
    padding: 0;
    font-size: 3rem;
    color: #555555;
  }
  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
  /* footer */
  .footer .banner_zone {
    padding: 30px 2.4rem;
  }
  .footer .banner_zone .zone {
    font-size: 2rem;
    height: 7.4rem;
  }
  .footer .banner_zone .swiper-container {
    padding-right: 0.5rem;
  }
  .footer .banner_zone .swiper-container .swiper-wrapper .swiper-slide a img {
    height: 7.4rem;
    width: 100%;
  }
  .footer .footerLogo {
    display: none;
  }
  .footer .footer_info {
    padding: 4rem 2.7rem 5rem 2.7rem;
  }
  .footer .footer_info .foot-info {
    padding-left: 0 !important;
  }
  .footer .footer_info .foot-info .fPage {
    display: none !important;
  }
  .footer .footer_info .foot-info ul li {
    font-size: 2rem !important;
    font-weight: 300 !important;
    line-height: 3rem;
  }
  .footer .footer_info .foot-info ul li + li::before {
    top: 0.5rem;
    height: 2rem !important;
  }
}
