@charset "utf-8";
/* *******************************************************
 * filename : layout_responsive.css
 * description : 전체 레이아웃 반응형 CSS
 * date : 2022-07-26
******************************************************** */

/* ========================================================
 * SETTING
======================================================== */
@media all and (max-width:1280px){
	:root{
		--header-height: 80px;
	}
}
@media all and (max-width:800px){
	:root{
		--area-padding: 5vw;
		--sub-visual-height: 30rem;
		--sub-menu-height: 60px;
	}
}
@media all and ( max-width: 480px ){
	:root{
		--header-height: 60px;
		--sub-menu-height: 45px;
	}
}

/* ========================================================
 * FONT SIZE
======================================================== */
@media all and (max-width:1536px){
	html{font-size:0.6510vw;} /* 10 */
}
@media all and (max-width:1280px){
	html{font-size:0.8594vw;} /* 10 -> 11*/
}
@media all and (max-width:800px){
	html{font-size:1.375vw} /* 10 -> 11*/
}
@media all and (max-width:640px){
	html{font-size:1.7188vw}  /* 10 -> 11*/
}
@media all and ( max-width: 480px ){
	html{font-size:2.2vw}  /* 10 */
}
@media all and ( max-width: 412px ){
	html{font-size:2.4272vw}  /* 10 */
}
@media all and (max-width:390px){
	html{font-size:2.1795vw}  /* 10 -> 8.5 */
}

/* ========================================================
 * LAYOUT
======================================================== */
/* ****************** 공통클래스 ********************** */
@media all and (max-width:1780px){	/* max-width : (area-box width) + 60px */
	.area-box{padding:0 var(--area-padding); max-width:none;}
}
@media all and (max-width:1460px){ 
	.area{padding:0 var(--area-padding); max-width:none;}
}
@media all and (max-width:1280px){ 
	.m-br{display:block;}
	.pc-br{display:none;}
	.display-m{display:block;}
	.display-pc{display:none;}
}
@media all and (max-width:800px){
	#visual .sub-visual-img {width:40%;}
	/* .visual-txt-con .img-box img {max-width:40%;} */
}

/* ****************** HEADER ********************** */
@media all and ( max-width: 1280px ){
	.fullpage-html #header{position:relative;}
	#headerInnerWrap{position:fixed; z-index:99;}
	#header.top-fixed #headerInnerWrap{background-color:#fff; border-bottom:1px solid #eee;}
	
	/* -------- Header :: UTIL BOX -------- */
	.header-util-box{top: -0.1rem; padding-right:55px;}
	/* Header :: 사이트맵 버튼 */
	.sitemap-line-btn, .sitemap-custom-btn, .header-demo-btn{display:none;}

	/* -------- Header :: GNB(Pc) -------- */
	#gnb{display:none;}
	.gnb-overlay-bg{display:none}

	/* -------- Header :: GNB(Mobile/기본스타일) -------- */
	.gnb-overlay-bg-m{display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:9998;}	
	#gnbM{ 
		display:block; 
		position:fixed; 
		top:0px; 
		right:-82%;
		width:80%; 
		height:100%;  
		max-width:280px; 
		background-color:#fff; 
		z-index:9999; 
		transition:var(--transition-custom);   
		visibility:hidden;
	}
	#gnbM.open{
		right:0px; 
		visibility:visible;
	}
	/* GNB Mobile :: 레이아웃 */
	.gnb-navigation-wrapper{position:relative; height:100%; box-sizing:border-box; padding-top:var(--header-height); overflow-y:auto;}	
	.header-util-menu-box + .gnb-navigation-wrapper{padding-top:0; height:calc(100% - var(--header-height));}
	
	/* GNB Mobile :: 메뉴영역 :: 1차 */
	#navigation > li{border-bottom:1px solid #e7e7e7;}
	#navigation > li:first-child{border-top:1px solid #e7e7e7}
	#navigation > li > a {position:relative; display:block; padding:15px var(--area-padding); color:#333; font-size:17px; font-weight:500; }
	#navigation > li.active > a{color:var(--main-color);}
	#navigation > li.has-2dep > a:before{font-family:xeicon; content: "\e914"; position:absolute; top:50%; right:var(--area-padding); font-size:1.3em; transform:translateY(-50%);}
	#navigation > li.has-2dep.active > a:before{content: "\e91b";}
	/* GNB Mobile ::  메뉴영역 :: 2차 */
	#navigation > li .gnb-2dep{display:none; padding:15px 0; background-color:#f2f2f2; }
	#navigation > li.gnb3 .gnb-2dep{display: none !important;}
	#navigation > li .gnb-2dep > ul > li{height:auto !important;}
	#navigation > li .gnb-2dep > ul > li > a{display:block; color:#888; font-size:14px; padding:12px var(--area-padding); }
	#navigation > li .gnb-2dep > ul > li.on > a{color:#000; font-weight:500;}
	/* GNB Mobile :: 메뉴영역 ::  3차 */
	#navigation > li .gnb-2dep > ul > li > .gnb-3dep{display:none; padding:10px; background-color:#aaa; margin:0 10px}
	#navigation > li .gnb-2dep > ul > li > .gnb-3dep > li > a{display:block; padding:8px 0; font-size:13px; color:#fff;}
	#navigation > li .gnb-2dep > ul > li > .gnb-3dep > li > a:before{display:inline-block; content:"-"; margin-right:5px;}
	
	/* -------- GNB Mobile :: 데모신청 버튼 -------- */
	/* 언어선택 */
	.header-util-menu-box {height:var(--header-height); display:flex; align-items:center; padding:0 var(--area-padding); }
	.header-util-menu-box .header-demo-btn{margin: 0; display: block;}

	/* -------- Header :: 네비게이션 오픈 버튼 -------- */
	.nav-open-btn{
		display:block; position:fixed; top:24px;  right:var(--area-padding); z-index:10000; 
		height:30px;
		transition:var(--transition-custom); 
	}
	.nav-open-btn .line{
		display:block; width:28px; height:3px; background-color:#232323; margin: 4px auto;
	    transition:var(--transition-custom); 
	}
	.nav-open-btn.active .line{background-color:#232323;}
	.nav-open-btn.active .line:nth-child(2), .nav-open-btn.active .line:nth-child(4){opacity: 0;}
	.nav-open-btn.active .line:nth-child(1){
		  transform: translateY(7px) rotate(45deg);
	}
	.nav-open-btn.active .line:nth-child(3){
		  transform: translateY(-7px) rotate(-45deg);
	}
}
/* @media all and ( min-width: 481px ) and ( max-width: 1280px ) {
	.nav-open-btn.active{right:20px;}
} */
@media all and ( max-width: 480px ){
	#header .logo img{height:20px;}

	/* -------- Header :: UTIL BOX -------- */
	.header-util-box{padding-right:40px;}
	/* Header :: 검색버튼 */
	.header-login-btn{font-size: 1.6rem; line-height: 4rem; /*추가*/ display:none;}
	.header-login-btn i{margin-left: 0.5rem; top: 0.1rem;}

	/* Header :: 사이트맵, 네비게이션 버튼 */
	.nav-open-btn{top:15px; margin-top:0;}
	.nav-open-btn .line{width:20px; height:2px;}
	.nav-open-btn.active .line:nth-child(1){
		  transform: translateY(6px) rotate(45deg);
	}
	.nav-open-btn.active .line:nth-child(3){
		  transform: translateY(-6px) rotate(-45deg);
	}
	/* Header :: GNB(Mobile) */
	#navigation > li > a{font-size:15px;}
	#navigation > li .gnb-2dep > ul > li > a{font-size:13px;}
	#gnbM .header-login-btn {display:block; text-align:center;}
}

/* ****************** FOOTER ********************** */
@media all and (max-width:1280px){
	#footerTop .footer-right-con{	right: var(--area-padding);}
}
@media all and (max-width:800px){
	.footer-left-con, .footer-right-con{float: none;}
	/* -------- FOOTER :: 상단 -------- */
	#footerTop .area{padding-top: 8rem; padding-bottom: 4rem;}
	#footerTop .footer-right-con{margin-top: 3.5rem; position: static;}

	/* Footer :: 푸터로고 */
	.foot-logo{padding-bottom:5rem;}

	/* Footer :: 정보 */
	.footer-address .footer-address-txt{font-size:1.5rem; line-height: 1.6; margin:0 -1rem;}
	.footer-address p{margin:0 1rem;}

	/* Footer :: 패밀리사이트 */
	.family-site-box{width:20rem;}
	.family-site-box .family-site-open-btn{height:5rem; line-height:4.8rem; padding:0 3rem; font-size:1.3rem;}
	.family-site-box .family-site-open-btn:after{right:2.5rem; font-size:1.5rem;}
	.family-site-list{bottom: calc(100% - 1px); padding:10px 0;}
	.family-site-list a{padding:10px 3rem; font-size:1.3rem;}

	/* -------- FOOTER :: 하단 -------- */
	#footerBottom{padding: 3.5rem 0 8rem;}
	#footerBottom .footer-left-con{flex-wrap:wrap;}

	/* Footer :: 회사명 */
	.foot-company-name{font-size: 1.5rem; line-height: 1.5;}

	/* Footer :: SNS 리스트 */
	.foot-sns-menu{margin-left: 4rem;}
	.foot-sns-menu li{font-size: 1.3rem;  margin-left:1.5rem}
	.foot-sns-menu li a{line-height:1.5;}
	.foot-sns-menu li a i{font-size:2rem; line-height:1.5;}

	/* Footer :: 푸터메뉴 */
	.foot-menu{margin-top: 1rem; margin-left: 0; width: 100%;}
	.foot-menu li{padding-left:2rem; line-height:1.5;}
	.foot-menu li:before{left: 1rem; width:1px; height:1rem; margin-top:-0.5rem;}
	.foot-menu li a{font-size: 1.3rem;}

	/* Footer :: Copyright */
	.footer-copyright{margin-top: 3.5rem; font-size:1.3rem; line-height:1.3; text-align: left;}
}

/* ****************** SUB LAYOUT ********************** */
@media all and (max-width:1280px){
	/*  SUB LAYOUT :: 비주얼 */
	#visual .visual-txt-con{padding:0}
	/*  SUB LAYOUT :: 서브메뉴(스타일2,3,4) */
	#topMenu02 .area,
	#topMenu03 .area,
	#topMenu04 .area{padding:0;}
	#topMenu02 .area,
	#topMenu03 .area{margin:0 -1px}	
	/*  SUB LAYOUT :: 컨텐츠 레이아웃 */
	#content:not(.wide){padding:70px var(--area-padding)}
	#content.wide{padding:70px 0 0 0}
}

@media all and (max-width:800px){
	/*  SUB LAYOUT :: 비주얼 */
	#visual .visual-tit{font-size:28px; }
	#visual .visual-sub-txt{font-size:13px; line-height:18px; padding-top:15px}
	/* SUB LAYOUT :: 위치정보(location) */
	.location li{font-size:12px;}
	.location li:before{margin:0 6px 0 4px; top:0px;}
	.location li i{margin-top:0px; font-size:16px;}
	/*  SUB LAYOUT :: 이전페이지,다음페이지 버튼 */
	.sub-page-controls-btn .sub-page-name{display:none}
	/*  SUB LAYOUT :: 서브메뉴(스타일4) */
	#topMenu04 .side-menu-inner{padding-left:var(--sub-menu-height); width:auto;}
	#topMenu04 .location-to-home-btn{position:absolute; width:var(--sub-menu-height); height:var(--sub-menu-height); left:0px; top:0px; border:0;}
	#topMenu04 .location-to-home-btn i{font-size:20px; line-height:var(--sub-menu-height);}
	#topMenu04 .menu-location{width:50%;}
	#topMenu04 .menu-location > .cur-location{height:var(--sub-menu-height); border-right:0; border-left:1px solid #ddd; padding:0 30px 0 10px}
	#topMenu04 .menu-location > .cur-location span{line-height:var(--sub-menu-height); font-size:15px;}
	#topMenu04 .menu-location .location-menu-con{top:var(--sub-menu-height); left:0; padding-bottom:10px}
	#topMenu04 .menu-location .location-menu-con li a{font-size:14px; padding:7px 10px;}
	
	/* -------- SUB LAYOUT :: 서브메뉴 모바일 -------- */
	#topMenuM{display:block; position:relative; height:calc(var(--sub-menu-height) + 1px); } /* (+1 border height)*/
	#topMenuM .top-menu-wrapper{position:absolute; top:0; left:0; right:0; height:var(--sub-menu-height); }
	#topMenuM .top-menu-inner{position:relative; height:var(--sub-menu-height); border-bottom:1px solid #ddd; }
	#topMenuM .menu-location{position:relative; box-sizing:border-box; width:100%;}
	#topMenuM .menu-location > .cur-location{position:relative; display:block; width:100%; text-align:left; height:var(--sub-menu-height); padding:0 var(--area-padding); padding-right:calc(var(--area-padding) + 3rem); box-sizing:border-box;}
	#topMenuM .menu-location > .cur-location span{display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:var(--sub-menu-height); color:#222; font-weight:400; font-size:15px;}
	#topMenuM .menu-location > .cur-location .arrow{position:absolute; top:50%; right:10px; width:20px; height:20px; margin-top:-10px; font-size:20px;}
	#topMenuM .menu-location .location-menu-con{display:none; position:absolute; top:100%; left:-1px; right:-1px; border-bottom:1px solid #ddd; background-color:#fff; z-index:11; }
	#topMenuM .menu-location .location-menu-con li{border-top:1px solid #eee;}
	#topMenuM .menu-location .location-menu-con li a{display:flex; align-items:center; width:100%; height:35px; padding:0 var(--area-padding); font-size:14px; line-height:1.5; word-break:keep-all; box-sizing:border-box;}
	#topMenuM .menu-location .location-menu-con li.on{position:relative;}
	#topMenuM .menu-location .location-menu-con li.on a{color:var(--main-color); font-weight:500;}
	/* Home 버튼 있을때 */
	#topMenuM .location-to-home-btn + .top-menu-inner{padding-left:var(--sub-menu-height)}
	#topMenuM .location-to-home-btn{position:absolute; width:var(--sub-menu-height); height:var(--sub-menu-height); left:0px; top:0px; text-align:center; }
	#topMenuM .location-to-home-btn i{color:var(--main-color); font-size:20px; line-height:var(--sub-menu-height);}
	/* 2depth 있을때 */
	#topMenuM .menu-2dep{display:flex;}
	#topMenuM .menu-2dep .menu-location{width:50%; border-left:1px solid #ddd;}
	#topMenuM .menu-2dep .menu-location.loaction2{}
	#topMenuM .menu-2dep .menu-location .location-menu-con{border:1px solid #ddd; border-top:0; }
	/* Menu OPEN */
	#topMenuM .menu-location.open > .cur-location .arrow{transform:rotate(-180deg); margin-top:-10px;}

	/*  SUB LAYOUT :: 상단정보 (공통) */
	#contentInfoCon{margin:30px 0; }
	#contentInfoCon .content-tit{font-size:24px}
	#contentInfoCon .content-tit:after{position:static; display:block; margin-top:15px;}
	#contentInfoCon .content-sub-tit{font-size:13px; line-height:18px; margin-top:15px;}
	/*  SUB LAYOUT :: 상단정보(스타일03) */
	#contentInfoCon.content-title-location{text-align:center;}
	#contentInfoCon.content-title-location .content-tit{float:none;}
	#contentInfoCon.content-title-location .location{float:none; padding-top:23px;}

	/*  SUB LAYOUT :: 컨텐츠 레이아웃 */
	#content:not(.wide){padding:50px var(--area-padding)}
	#content.wide{padding:50px 0 0 0}
}

/* ****************** MODAL LAYERPOPUP ********************** */
@media all and ( max-width: 800px ){
	/* modal layer content */
	.footer-modal-content{width:auto; margin:50px 15px}
	.footer-modal-content h1{font-size:18px; text-align:left; padding:0 30px 15px 0}
	.modal-close-btn{right:-3px; top:-3px;}
	.modal-close-btn i{font-size:24px}
	.footer-inner-box{padding:15px}
	.footer-inner{padding:10px; height:250px;}
}