@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
	font-family: 'notokr', sans-serif;
	/* font-family: 'Noto Sans CJKR', sans-serif !important; */
	font-weight:300;
    font-style:normal;
    vertical-align: baseline;
    line-height: 100%;
}

select{-webkit-appearance: none;appearance: none;-moz-appearance: none;background: url('../images/common/search_select_arrow.png') no-repeat right 18px center;color: #888888;}
select::-ms-expand {display:none}
input, select{height: 50px;padding: 0;margin: 0;box-sizing: border-box;color: #000;vertical-align: middle; border:none; text-indent: 10px;}
legend{font-size: 0;text-indent: -100000px;left: -10000px;top: auto;height: 0;overflow: hidden;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table caption{display:none}

a{text-decoration:none; color: #000;} 

button, input[type="submit"], select{cursor:pointer}
button{border:none}
a.button {cursor: pointer;vertical-align: middle;}