@charset "UTF-8";
.apply_wrap { padding: 2.7rem 1.2rem 1rem 1.2rem; -webkit-box-sizing: border-box; box-sizing: border-box; background: #f4f5f9; }

.apply_wrap .search-box select { background-color: #ffffff; }

.apply_wrap .search-box .button-search { width: 4.5rem; height: 4.5rem; background: #ffffff url(../../image/sub/icon-search.png) no-repeat center; background-size: 2rem; border: 1px solid #cccccc; }

.adjust-month { position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-bottom: 2.5rem; }

.adjust-month__wrap { position: relative; }

.adjust-month button { display: inline-block; width: 4.2rem; height: 4.5rem; }

.adjust-month button.prev_month { background: url(../../image/sub/btn_clamp_prev.jpg) no-repeat 0 0; background-size: cover; }

.adjust-month button.next_month { background: url(../../image/sub/btn_clamp_next.jpg) no-repeat 0 0; background-size: cover; }

.adjust-month p { display: inline-block; vertical-align: top; }

.current_month { margin: 0 2.5rem; font-size: 3rem; font-weight: 500; color: #000; }

.current_month * { font-size: 3rem; font-weight: 600; }

.weekly_list ul { margin-bottom: 0; overflow: hidden; }

.weekly_list li { float: left; width: calc(100% / 7); font-size: 1.7rem; font-weight: 600; border: 1px solid #eeeeee; padding: 1.5rem 0; -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff; color: #555; text-align: center; }

.weekly_list li:first-child { color: #cc0000; }

.weekly_list li:last-child { color: #0035cc; }

.weekly_list li + li { border-left: 0; }

.weekly_detail { margin-top: 2rem; }

.month_list { margin-top: 3px; }

.month_list ul { margin-bottom: 0; overflow: hidden; }

.month_list ul + ul { margin-top: -1px; }

.month_list li { float: left; width: calc(100% / 7); height: 14rem; padding: 1.5rem; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #eee; background: #fff; color: #555; overflow-y: auto; }

.month_list li + li { border-left: 0; }

.month_list li:nth-child(1) a span { color: #cc0000; }

.month_list li:nth-child(7) a span { color: #0035cc; }

.month_list li.today span { position: relative; color: #ffffff; z-index: 1; font-weight: 400; }

.month_list li.today span::before { position: absolute; top: 50%; left: 50%; width: 3.5rem; height: 3.5rem; background: #005aab; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); content: ""; border-radius: 100%; z-index: -1; }

.month_list li a { display: block; width: 100%; height: 100%; font-size: 1.6rem; font-weight: 500; color: #005aab; }

.month_list li a span { display: inline-block; margin-bottom: .9rem; font-size: 1.8rem; font-weight: 500; color: #555555; }

.month_list li p { width: calc(100% + .8rem); margin-left: -.4rem; padding: .6rem .8rem; font-size: 1.6rem; font-weight: 500; color: #005aab; background: #e5eef6; line-height: 2rem; letter-spacing: -.048em; -webkit-box-sizing: border-box; box-sizing: border-box; }

.month_list li p + p { margin-top: .2rem; }

.month_list li .badge { margin-bottom: 0; padding: 0; font-weight: 600; background: none; text-align: left; }

.lists { overflow: hidden; min-height: 13.5rem; border: 1px solid #eeeeee; border-left: .2rem solid #5badbf; position: relative; }

.lists + .lists { margin-top: 1rem; }

.lists .date { float: left; width: 17.8rem; height: 4.6rem; padding: 2rem 0; text-align: center; position: absolute; top: calc(50% - 4rem); }

.lists .date span { display: block; }

.lists .date span:first-child { font-size: 2.4rem; font-weight: 600; }

.lists .date span:last-child { font-size: 1.7rem; font-weight: 600; }

.lists .info { float: right; width: calc(100% - 17.9rem); height: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; border-left: 1px solid #5badbf; }

.lists .info .tit { margin-bottom: 2.2rem; font-size: 1.7rem; font-weight: 600; }

.lists .info .tit.con { margin-bottom: 2.2rem; }

.lists .info .con { font-size: 1.4rem; color: #555555; }

.lists .info .con + .con span { position: relative; margin-left: 1.5rem; }

.lists .info .con + .con span::before { display: inline-block; vertical-align: middle; content: ""; }

.lists .info .con + .con span:first-child:before { width: 1.5rem; height: 1.5rem; margin-right: .5rem; background: url("/common/images/contents/icon_clock_g.jpg") no-repeat 0 0; }

.lists .info .con + .con span:last-child:before { width: 1.1rem; height: 1.6rem; margin-right: .5rem; background: url("/common/images/contents/icon_flag_g.jpg") no-repeat 0 0; }

.lists .info > div { width: auto; padding: 2rem 2.5rem; }

.lists .info > div + div { border-top: 1px solid #eeeeee; }

.lists .info > div > div { display: inline-block; vertical-align: middle; }

.lists .info > div > div { display: inline-block; vertical-align: middle; }

.lists .info > div button { display: inline-block; vertical-align: middle; }

.lists .info > div > div.info_first { width: 75%; }

.lists .info > div > div.info_second { width: 24%; font-size: 17px; text-align: center; }

.lists .info > div > div.info_second > div { display: inline-block; margin-right: 20px; vertical-align: middle; text-align: center; }

.lists .info > div > div.info_second span { display: inline-block; font-size: 20px; font-weight: bold; }

.lists .info > div > div.info_second span.no_empty { color: #7bbe13; }

.lists .info > div button { width: 110px; height: 36px; background: #f4f5f9; font-size: 1.5rem; color: #555; text-align: center; line-height: 36px; }

.lists .info > div button.noend { background: #fff; color: #555; }

/*===================================================================================================
===========================================  responsive ==========================================
==================================================================================================*/
@media screen and (max-width: 1024px) { .adjust-month { position: unset; left: 0; -webkit-transform: none; transform: none; }
  .adjust-month__wrap .search-box .form-select { -webkit-box-flex: 0; -ms-flex: none; flex: none; } }

@media screen and (max-width: 720px) { .user-area { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
  .user-area .button-wrap { margin-top: 1rem; }
  .month_list ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .month_list li { width: 100%; }
  .month_list li:nth-child(1) a span { position: relative; }
  .month_list li:nth-child(1) a span::after { content: "(일)"; }
  .month_list li:nth-child(2) a span { position: relative; }
  .month_list li:nth-child(2) a span::after { content: "(월)"; }
  .month_list li:nth-child(3) a span { position: relative; }
  .month_list li:nth-child(3) a span::after { content: "(화)"; }
  .month_list li:nth-child(4) a span { position: relative; }
  .month_list li:nth-child(4) a span::after { content: "(수)"; }
  .month_list li:nth-child(5) a span { position: relative; }
  .month_list li:nth-child(5) a span::after { content: "(목)"; }
  .month_list li:nth-child(6) a span { position: relative; }
  .month_list li:nth-child(6) a span::after { content: "(금)"; }
  .month_list li:nth-child(7) a span { position: relative; }
  .month_list li:nth-child(7) a span::after { content: "(토)"; }
  .month_list li.today span::before { top: -1.5rem; left: -1.5rem; width: 7.5rem; height: 5rem; -webkit-transform: none; transform: none; border-radius: 0; } }
