@charset "UTF-8";
/* select */
.search-box { margin-bottom: 2rem; }

/* search-box */
.search-box { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; margin-bottom: 2rem; }

.search-box .form-select { height: 4.5rem; }

.search-box .form-select select { width: 12.5rem; height: 100%; padding-left: 2rem; padding-right: 2rem; border: 1px solid #cccccc; font-size: 1.6rem; font-weight: 500; text-indent: 0rem; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='7'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M8.833-.001 4.999 4.35 1.166-.001-.001 1.323l5 5.676 5-5.676L8.833-.001Z'/%3E%3C/svg%3E"); background-size: 1rem .7rem; background-position: right 2rem center; line-height: 100%; }

.search-box .form-select select + select { margin-left: .5rem; }

.search-box .form-search { position: relative; width: 25.5rem; height: 4.5rem; border: 1px solid #cccccc; -webkit-box-sizing: border-box; box-sizing: border-box; }

.search-box .form-search input { width: calc(100% - 4.5rem); height: 100%; padding-left: 2rem; border: none; font-size: 1.6rem; color: #777777; text-indent: 0; }

.search-box .form-search button { position: absolute; top: 0; right: 0; width: 4.5rem; height: 100%; background: url(../../image/sub/icon-search.png) no-repeat center; background-size: 2rem; }

.search-box .form-group input { width: 18.5rem; height: 4.5rem; }

.search-box .form-group input::-webkit-input-placeholder { font-size: 1.6rem; font-weight: 500; color: #000000; }

.search-box .form-group input:-ms-input-placeholder { font-size: 1.6rem; font-weight: 500; color: #000000; }

.search-box .form-group input::-ms-input-placeholder { font-size: 1.6rem; font-weight: 500; color: #000000; }

.search-box .form-group input::placeholder { font-size: 1.6rem; font-weight: 500; color: #000000; }

.form-wrap button { width: 11.9rem !important; height: 4.9rem !important; font-weight: 300 !important; }

.form-wrap.w-s select, .form-wrap.w-s input { width: 19.5rem; }

.form-wrap .label { margin-right: 1rem; }

.form-group { margin-bottom: 0; }

.form-group.w-xs select, .form-group.w-xs input { width: 10rem; }

.form-group.w-s select, .form-group.w-s input { width: 19.5rem; }

.form-group.w-m select, .form-group.w-m input { width: 23.5rem; }

.form-group.w-704 input { max-width: 70.4rem; width: 100%; }

.form-group label { position: absolute; top: -9999px; left: -9999px; width: 1px; height: 1px; }

.form-group input { width: 100%; height: 5rem; font-size: 1.6rem; border: 1px solid #cccccc; text-indent: 2rem; }

.form-group input.w-330 { width: 33rem; }

.form-group input.w-500 { width: 100%; max-width: 50rem; }

.form-group input.w-m { max-width: 56.2rem; width: 100%; }

.form-group input::-webkit-input-placeholder { font-size: 1.8rem; color: #b5b5b5; }

.form-group input:-ms-input-placeholder { font-size: 1.8rem; color: #b5b5b5; }

.form-group input::-ms-input-placeholder { font-size: 1.8rem; color: #b5b5b5; }

.form-group input::placeholder { font-size: 1.8rem; color: #b5b5b5; }

.form-group input.date { width: 19.6rem; background-image: url(../../image/sub/icon-date.png); background-size: 1.6rem 1.7rem; background-repeat: no-repeat; background-position: right 1rem center; font-size: 1.8rem; color: #555555; }

.form-group textarea { width: 100%; height: 15rem; margin: 1rem 0; border: .1rem solid #cccccc; resize: unset; border-radius: 0; -webkit-appearance: none; }

.form-group button { width: 11.3rem; height: 5rem; margin-left: 0.5rem; font-size: 1.6rem; color: #ffffff; background-color: #464646; }

.form-group p { font-size: 1.8rem; -webkit-box-flex: 0; -ms-flex: none; flex: none; margin-bottom: 0; margin-right: .5rem; }

.form-check { position: relative; padding-left: 0; display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: -.5rem -1.5rem; -webkit-box-flex: 0; -ms-flex: none; flex: none; }

.form-check input { height: auto; }

.form-check input[type='checkbox'] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.form-check input[type='checkbox'] + label { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; margin: .5rem 1.5rem; cursor: pointer; font-size: 1.8rem; font-weight: 400; letter-spacing: -1px; color: #555555; }

.form-check input[type='checkbox'] + label::before { /* 가짜 체크박스 */ content: ' '; display: inline-block; width: 1.8rem; /* 체크박스의 너비를 지정 */ height: 1.8rem; /* 체크박스의 높이를 지정 */ margin: -.0rem .8rem 0 0; text-align: center; vertical-align: middle; border: 1px solid #cccccc; border-radius: 0.3rem; }

.form-check input[type='checkbox']:checked + label { color: #000; }

.form-check input[type='checkbox']:checked + label::before { /* 체크박스를 체크했을때 */ content: ''; /* 체크표시 유니코드 사용 */ background-color: #005aab; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='9'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='m2.517 4.148 1.22 2.426S5.72 1.643 8.847 0C8.771 1.174 8.466 2.191 9 3.443 7.627 3.756 4.805 7.278 3.89 9 2.593 7.356 1.068 6.104 0 5.713l2.517-1.565Z'/%3E%3C/svg%3E"); background-repeat: no-repeat; background-position: center; background-size: .9rem .9rem; }

.form-check .form-input { width: 27.2rem; height: 4.7rem; margin-left: -.7rem; border: 1px solid #dddddd; font-size: 1.8rem; text-indent: 2rem; }

.form-check .form-input::-webkit-input-placeholder { font-size: 1.8rem; color: #b5b5b5; }

.form-check .form-input:-ms-input-placeholder { font-size: 1.8rem; color: #b5b5b5; }

.form-check .form-input::-ms-input-placeholder { font-size: 1.8rem; color: #b5b5b5; }

.form-check .form-input::placeholder { font-size: 1.8rem; color: #b5b5b5; }

.form-check.circle input[type='checkbox'] + label { margin-top: 0; margin-bottom: 0; }

.form-check.circle input[type='checkbox'] + label::before { width: 2rem; height: 2rem; margin: -5px 1rem 0 0; border-radius: 100%; }

@media (max-width: 640px) { .form-check.circle input[type='checkbox'] + label::before { margin-top: -3px; } }

.form-check.circle input[type='checkbox']:checked + label { color: #000; }

.form-check.circle input[type='checkbox']:checked + label::before { background: #3f8501; border-color: #3f8501; }

.form-check.circle input[type='checkbox']:checked + label::after { content: ''; position: absolute; left: 0.5rem; width: 1rem; height: 1rem; background: #ffffff; border-radius: 100%; top: 9px; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

@media (max-width: 720px) { .form-check.circle input[type='checkbox']:checked + label::after { margin-top: -2px; } }

@media (max-width: 540px) { .form-check.circle input[type='checkbox']:checked + label::after { margin-top: -4px; } }

.form-select { font-size: 1.8rem; height: 5rem; }

.form-select.w-xs select, .form-select.w-xs input { width: 12rem; }

.form-select.w-s select, .form-select.w-s input { width: 19.5rem; }

.form-select.w-m select, .form-select.w-m input { width: 23.5rem; }

.form-select.w-704 input { max-width: 70.4rem; width: 100%; }

.form-select select { width: 23.5rem; height: 100%; padding-left: 2rem; padding-right: 2rem; border: 1px solid #cccccc; font-size: 1.6rem; font-weight: 500; text-indent: 0rem; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='7'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M8.833-.001 4.999 4.35 1.166-.001-.001 1.323l5 5.676 5-5.676L8.833-.001Z'/%3E%3C/svg%3E"); background-size: 1rem .7rem; line-height: 100%; }

.form-select select + select { margin-left: 4px; }

.form-search { position: relative; width: 27.5rem; height: 4.5rem; border: 1px solid #cccccc; }

.form-search input { width: calc(100% - 4.5rem); height: 100%; padding-left: 2rem; border: none; font-size: 1.6rem; color: #777777; text-indent: 0; }

.form-search button { position: absolute; top: 0; right: 0; width: 4.5rem; height: 100%; background: url(../image/icon/icon-search.png) no-repeat center; background-size: 2rem; }

/* radiobox */
.checks { position: relative; }

.checks p { margin-right: 4rem; font-size: 1.8rem; }

.checks input[type="radio"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.checks input[type="radio"] + label { display: inline-block; position: relative; padding-left: 3rem; margin-right: 3rem; margin-bottom: 0; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 1.8rem; font-weight: 500; color: #555555; }

.checks input[type="radio"] + label::before { content: ''; position: absolute; left: 0; top: 4px; width: 1.8rem; height: 1.8rem; text-align: center; background: #fff; border-radius: 100%; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); border: .1rem solid #c7cacd; }

.checks input[type="radio"]:checked + label::before { background: #1165b1; border-color: #1165b1; }

.checks input[type="radio"]:checked + label::after { content: ''; position: absolute; left: .7rem; width: .6rem; height: .6rem; background: #ffffff; border-radius: 100%; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

/* 파일첨부 */
.filebox input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.filebox input { max-width: 56.2rem; width: 100%; }

.filebox label { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 11.3rem; height: 5rem; margin-left: .5rem; font-size: 1.6rem; color: #ffffff; background-color: #464646; -webkit-box-sizing: border-box; box-sizing: border-box; cursor: pointer; }

.filebox .upload-name { display: inline-block; font-size: inherit; font-family: inherit; line-height: normal; vertical-align: middle; background: #ffffff; border: 1px solid #cccccc; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

.security { max-width: 56.2rem; width: 100%; }

.security .captcha button { width: 5rem; height: 5rem; margin: 0 .5rem; background: #e9eef4 url(../../image/sub/icon-refresh.png) no-repeat center; }

.security .form-group { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; width: 100%; }

.security input { width: 100%; }

.filter .form-select { height: 5rem; }

.filter .form-select.w-xs select, .filter .form-select.w-xs input { width: 12rem; }

.filter .form-select.w-s select, .filter .form-select.w-s input { width: 19.5rem; -webkit-box-flex: 0; -ms-flex: none; flex: none; }

.filter .form-select.w-m select, .filter .form-select.w-m input { width: 23.5rem; }

.filter .form-select.w-704 input { max-width: 70.4rem; width: 100%; }

.filter .form-select select { width: 19.5rem; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; font-size: 1.8rem; font-weight: 400; color: #555555; background-color: #ffffff; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8'%3E%3Cpath fill-rule='evenodd' fill='rgb(85, 85, 85)' d='M4.994 8.003-.001-.003h9.99L4.994 8.003Z'/%3E%3C/svg%3E"); background-position: right 1rem center; border: 1px solid #dddddd; }

.filter .form-select select + select { margin-left: 4px; }

.filter .form-group input { border-color: #dddddd; }

.filter .checks { -ms-flex-wrap: wrap; flex-wrap: wrap; }

.filter .checks input[type="radio"] + label { font-weight: 400; margin-right: 3rem; -webkit-box-flex: 0; -ms-flex: none; flex: none; }

.filter .table tr { border-bottom: 1px solid #eeeeee; }

.filter .table tr:last-child { position: relative; border-bottom: 1px solid; }

.filter .table tr:last-child::after { position: absolute; left: 0%; top: 6rem; width: 100%; height: 10rem; background: url(../../image/sub/bg-gradient.png) no-repeat center top; z-index: -1; content: ""; }

.filter.expand tr:last-child { border-bottom: 1px solid #eeeeee; }

.filter.expand tr:last-child::after { display: none; }

.filter .search-plus .button-last { position: relative; background: url(../../image/sub/bg-gradient.png) no-repeat center top; padding-top: 3rem; border-top: 1px solid #000000; }

.border-top__none { border-top: 0 !important; }

/*===================================================================================================
===========================================  responsive ==========================================
==================================================================================================*/
@media screen and (max-width: 1200px) { .filter .search-plus .checks .form-group { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
  .filter .search-plus .checks .form-group input { width: auto !important; min-width: 10rem; max-width: 100% !important; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; } }

@media screen and (max-width: 1024px) { .form-group { -ms-flex-wrap: wrap; flex-wrap: wrap; padding-top: 1rem; padding-bottom: 1rem; }
  .form-group button { width: auto; }
  .form-check { width: 100% !important; -webkit-box-flex: 0; -ms-flex: none; flex: none; margin: 1rem -1rem; }
  .form-select { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
  .form-select.w-xs select { width: 100%; }
  .form-wrap.flex3 > div { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
  .form-wrap.flex3 > div > * { width: 100%; }
  .form-wrap.flex3 > span { -webkit-box-flex: 0; -ms-flex: none; flex: none; }
  .search-box .form-select { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-flex: 0; -ms-flex: none; flex: none; }
  .security { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .search-plus .form-group { padding-top: 0; padding-bottom: 0; }
  .filter .checks { padding: 1rem 0; }
  .filter .checks input[type="radio"] + label { width: 100%; margin: .5rem 0; } }

@media screen and (max-width: 500px) { td > .d-flex:not(.flex3) { -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 1rem 0; }
  td > .d-flex:not(.flex3) > p { width: 100%; margin-bottom: 1rem; }
  .search-box .form-group input.date { width: 100%; }
  .search-box .form-search { width: 100%; } }
