.volunteer__inner ul li { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 2rem 3rem 2rem 5rem; border: 1px solid #dddddd; border-radius: .5rem; }

.volunteer__inner ul li + li { margin-top: 1rem; }

.volunteer__inner .info { height: 100%; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.volunteer__inner .info p { overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; font-size: 1.8rem; font-weight: 500; color: #555555; line-height: 2rem; }

.volunteer__inner .info p + p { margin-top: 1rem; }

.volunteer__inner .info .tit { margin-bottom: 2rem; font-size: 2.3rem; color: #000000; line-height: normal; }

.volunteer__inner .type { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 15.6rem; height: 19.5rem; margin-right: 5rem; border: 1px solid #005aab; border-radius: .5rem; }

.volunteer__inner .type .area { display: inline-block; position: relative; margin-bottom: 4rem; color: #ffffff; font-size: 1.8rem; font-weight: 500; }

.volunteer__inner .type .area::before { position: absolute; top: 50%; left: 50%; width: 5.3rem; height: 5.3rem; background: #005aab; border-radius: 100%; content: ''; z-index: -1; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.volunteer__inner .type .vtype { margin-bottom: 2.5rem; font-size: 2.2rem; font-weight: 600; }

.volunteer__inner .type .time { font-size: 1.8rem; font-weight: 500; }

.volunteer__inner .apply { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.volunteer__inner .apply .to { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; margin-right: 3rem; }

.volunteer__inner .apply .to p { font-size: 1.8rem; font-weight: 500; }

.volunteer__inner .apply .to p + p { position: relative; margin-left: 2.6rem; }

.volunteer__inner .apply .to p + p::before { position: absolute; left: -1.3rem; width: 1px; height: 1.8rem; background: #cccccc; content: ""; }

.volunteer__inner .apply .to p span { color: #005aab; font-weight: 600; }

.volunteer__inner .apply .button-wrap button { width: 12rem; height: 5rem; font-size: 1.8rem; font-weight: 500; color: #005aab; background: #eaf3fa; border: 1px dashed #005aab; }

.youthCouncil-top { position: relative; margin-bottom: 5rem; }

.youthCouncil-top::before { position: absolute; top: 6.5rem; width: 100%; height: calc(100% - 1.5rem); background: #f5f8f9; content: ""; z-index: -1; }

.youthCouncil-top .img-wrap { width: 47.5rem; -webkit-box-flex: 0; -ms-flex: none; flex: none; }

.youthCouncil-top .img-wrap img { display: block; margin: 0 auto; border-radius: 3rem; -webkit-box-shadow: 1rem 1rem 1.8rem rgba(0, 0, 0, 0.1); box-shadow: 1rem 1rem 1.8rem rgba(0, 0, 0, 0.1); }

.youthCouncil-top .title { margin-bottom: 3rem; font-size: 3rem; font-weight: 600; color: #005aab; }

.youthCouncil-top p { font-weight: 500; line-height: 3rem; letter-spacing: -.075rem; }

.youthCouncil-top .button-wrap { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.youthCouncil-top .button-wrap button { width: 100%; max-width: 45rem; height: 6rem; line-height: normal; font-size: 2rem; border-radius: .5rem; -webkit-box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.28); box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.28); }

.youthCouncil-des { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding-top: 5rem; padding-right: 11.5rem; }

.youthCouncil-des .button-blue { min-width: 45rem; }

.youthCouncil-des__box { -ms-flex-wrap: wrap; flex-wrap: wrap; }

.youthCouncil-bottom > ul > li { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; padding: 5rem 0; }

.youthCouncil-bottom > ul > li + li { border-top: 1px dashed #dddddd; }

.youthCouncil-bottom > ul > li:nth-last-child(1) { padding-bottom: 0; }

.youthCouncil-bottom .list-dashed li { position: relative; padding-left: 1rem; font-size: 1.8rem; font-weight: 500; line-height: 3.2rem; }

.youthCouncil-bottom .list-dashed li::before { position: absolute; top: 1.5rem; left: 0; width: .4rem; height: 1px; background: #000000; content: ""; }

.youthCouncil-bottom .title { position: relative; width: 21.5rem; margin-left: 10.7rem; padding-left: 6rem; padding-right: 9.5rem; line-height: 3.6rem; letter-spacing: -.075rem; font-size: 2.4rem; font-weight: 600; -webkit-box-flex: 0; -ms-flex: none; flex: none; }

.youthCouncil-bottom .title::before { position: absolute; top: 1.6rem; left: 0; width: 4rem; height: 1px; background: #000000; content: ""; }

.youthCouncil-bottom .cont { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.youthCouncil-bottom .cont p { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; min-height: 8rem; height: auto; text-align: center; border-radius: .3rem; font-size: 1.8rem; font-weight: 500; line-height: 3rem; border: 1px solid #005bac; -webkit-box-sizing: border-box; box-sizing: border-box; }

.youthCouncil-bottom .cont p + p { margin-top: 1rem; }

.youthCouncil-bottom .cont.w-50 { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: -.5rem; }

.youthCouncil-bottom .cont.w-50 p { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: calc(50% - 1rem); margin: .5rem; }

.youthCouncil-bottom .progress__inner { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.youthCouncil-bottom .progress__inner > div { width: 100%; }

.youthCouncil-bottom .progress__inner > div:nth-child(1) .step-box { padding-bottom: 5rem; }

.youthCouncil-bottom .progress__inner > div:nth-child(2) { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }

.youthCouncil-bottom .progress__inner > div:nth-child(2) .step-box { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-flow: row-reverse; flex-flow: row-reverse; background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='17'%3E%3Cpath fill-rule='evenodd' fill='rgb(222, 222, 222)' d='M-.001 8.386 15 .002l-.137 16.997L-.001 8.386Z'/%3E%3C/svg%3E"); }

.youthCouncil-bottom .progress__inner > div:nth-child(2) .step-box:nth-child(1) { background-image: none; }

.youthCouncil-bottom .progress__inner > div:nth-child(2) .step-box:nth-child(1) .step-num::before { height: 65%; }

.youthCouncil-bottom .progress__inner > div:nth-child(2) .step-box:nth-child(2) .step-num::before { height: 85%; }

.youthCouncil-bottom .progress__inner > div:nth-child(2) .step-box:nth-child(3) .step-num::before { height: 100%; }

.youthCouncil-bottom .progress__inner > div:nth-child(2) .step-box:nth-child(4) { background-position: right top 3.8rem; }

.youthCouncil-bottom .progress__inner > div:nth-child(2) .step-box:nth-child(4) .step-num { color: #ffffff; background: #005aab; }

.youthCouncil-bottom .progress__inner > div:nth-child(2) .step-box:nth-child(4) .step-num span { color: #ffffff; }

.youthCouncil-bottom .progress__inner > div:nth-child(2) .step-box:nth-child(4) .step-num__inner { background: #005aab; font-weight: 400; }

.youthCouncil-bottom .step-box { width: calc(100% / 4); background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='17'%3E%3Cpath fill-rule='evenodd' fill='rgb(222, 222, 222)' d='M15.001 8.614 0 16.998.137.001l14.864 8.613Z'/%3E%3C/svg%3E"); background-repeat: no-repeat; background-position: right top 3.8rem; }

.youthCouncil-bottom .step-box:nth-child(2) .step-num::before { height: calc(100% / 5); }

.youthCouncil-bottom .step-box:nth-child(3) .step-num::before { height: calc(100% / 4); }

.youthCouncil-bottom .step-box:nth-child(4) { background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='15'%3E%3Cpath fill-rule='evenodd' fill='rgb(222, 222, 222)' d='M8.386 15.001.002 0l16.997.137-8.613 14.864Z'/%3E%3C/svg%3E"); background-position: bottom 3rem center; }

.youthCouncil-bottom .step-box:nth-child(4) .step-num::before { height: 50%; }

.youthCouncil-bottom .step-num { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: relative; width: 9rem; height: 9rem; margin: 0 auto; margin-bottom: 1rem; border-radius: 100%; background: #dfeaf2; overflow: hidden; }

.youthCouncil-bottom .step-num::before { position: absolute; bottom: 0; width: 100%; height: calc(100% / 8); background: #005aab; content: ""; z-index: 0; }

.youthCouncil-bottom .step-num__inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: relative; width: 7.5rem; height: 7.5rem; background: #ffffff; border-radius: 100%; font-size: 2.4rem; font-weight: 500; line-height: 100%; z-index: 1; }

.youthCouncil-bottom .step-num__inner span { display: inline-block; margin-bottom: .5rem; font-size: 1.6rem; color: #747478; }

.youthCouncil-bottom .step-des { text-align: center; font-size: 1.8rem; font-weight: 500; line-height: 2.4rem; }

.youthCouncil-bottom .step-des a { position: relative; font-size: 1.6rem; font-weight: 500; color: #005aab; }

.youthCouncil-bottom .step-des a::before { position: absolute; bottom: -.5rem; width: 100%; height: 1px; background: #005aab; content: ""; }

.youthReportPro .img-wrap img { display: block; margin: 0 auto; max-width: 100%; }

.youthReportPro .box-blue { padding: 5rem; background: #f5f8f9; }

/*===================================================================================================
===========================================  responsive ==========================================
==================================================================================================*/
@media screen and (max-width: 1024px) { .youthCouncil-top .img-wrap { width: 50%; }
  .youthCouncil-top .button-wrap button { min-width: unset; max-width: none; }
  .youthCouncil-bottom .title { margin-left: 0; } }

@media screen and (max-width: 720px) { .youthCouncil-top .img-wrap { width: 20%; margin: 0 5%; }
  .youthCouncil-top .img-wrap img { width: 100%; }
  .youthCouncil-top .button-wrap button { min-width: unset; max-width: none; }
  .youthCouncil-bottom > ul > li { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .youthCouncil-bottom .title { width: 100%; margin-left: 0; padding-right: 0rem; padding-bottom: 3rem; }
  .youthCouncil-bottom .cont p { padding: 1rem; }
  .youthCouncil-bottom .cont.w-50 { width: 100%; }
  .youthCouncil-des { padding-right: 3rem; }
  .youthCouncil-des__box .button-wrap { width: 100%; }
  .youthCouncil-des__box p { margin-top: 1rem; }
  .volunteer__inner ul li { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .volunteer__inner .type { margin-right: 0; margin-bottom: 3rem; }
  .volunteer__inner .info { width: 100%; padding-top: 0; padding-bottom: 3rem; } }
