.grayBox_sh {
  background-color: #ffff0000;
  padding: 0 0 0 0;
}

.grayBox_sh img:nth-child(1) {
  margin-right: 1rem;
}

.grayBox_sh .grayBox_img {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.grayBox_sh .info {
  position: relative;
  width: 100%;
  margin-left: 0;
  display: block;
  text-align: center;
}

.grayBox_sh .info::before {
  position: absolute;
  left: 0;
  content: "";
  z-index: -1;
  background-color: #f5f8f9;
}

.grayBox_sh .info p {
  font-size: 2.2rem;
  line-height: 3.6rem;
  font-weight: 400;
}

.grayBox_sh2 {
  background-color: #ffff0000;
  padding: 0 0 0 0;
}

.grayBox_sh .grayBox_ul {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grayBox_sh .grayBox_ul img {
  margin: 0;
}

.grayBox_sh .grayBox_ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.grayBox_sh .grayBox_ul li:nth-child(n+2) {
  margin-top: 1rem;
}

.grayBox_sh .grayBox_ul li.list1 {
  width: 100%;
}

.grayBox_sh .grayBox_ul li.list3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.grayBox_sh .grayBox_ul li.list2, .grayBox_sh .grayBox_ul li.list4 {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content_ci .grayBox_sh .info p {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.content_ci .grayBox_sh .info::before {
  top: -11.4rem;
  width: 100%;
  height: calc(100% + 11.4rem);
  content: "";
  z-index: -1;
}

.content_ch .grayBox_sh .info {
  padding: 0;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: flex;
}

.content_ch .grayBox_sh .info::before {
  top: -38.5rem;
  width: 100%;
  height: calc(100% + 38.5rem);
  background-color: #f5f8f9;
}

.content_ch .grayBox_sh .info p {
  padding: 5rem 0;
}

.content_ch p span {
  font-weight: 500;
}

.content_ch p span.color-blue2 {
  color: #1e80c1;
}

.content_ch p span.color-orange {
  color: #d75207;
}

.content_ch p span.color-green {
  color: #1ec144;
}

.content_ch p .bold {
  font-weight: 500;
}

.content_map .grayBox_sh .info {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
}

.content_map .grayBox_sh .info::before {
  background-color: #fff;
}

.content_map .grayBox_sh .info p {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.content_map .grayBox_sh .info img {
  padding: 3% 0;
}

.content_map .grayBox_sh .info span {
  display: block;
}

.content_map .grayBox_sh .info .bus1, .content_map .grayBox_sh .info .bus2 {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: flex;
}

.content_map .grayBox_sh .info .bus1 > p, .content_map .grayBox_sh .info .bus2 > p {
  padding-left: 1rem;
}

.content_map .grayBox_sh .info .bus1 {
  margin-left: 12.4rem;
}

.content_map .grayBox_sh .info .bus2 {
  margin-left: 3.6rem;
}

.content_map .grayBox_sh .info .bus_default, .content_map .grayBox_sh .info .bus_stand {
  line-height: 3.4rem;
  text-align: center;
  width: 8.4rem;
  height: 3.4rem;
  letter-spacing: -0.25rem;
  color: #fff;
  border-radius: 0.3rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.content_map .grayBox_sh .info .bus_default {
  background-color: #1ec144;
}

.content_map .grayBox_sh .info .bus_stand {
  background-color: #c52116;
}

.content_map .grayBox_sh .grayBox_img img {
  display: block;
  width: 100%;
}

.content_map .grayBox_sh .grayBox_img img:nth-child(1) {
  margin-right: 0;
}

.content_map .grayBox_sh .grayBox_wrap .grayBoxd {
  background-color: #edeff3;
  padding: 2.2% 2.7%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content_map .grayBox_sh .grayBox_wrap .grayBoxd p {
  display: inline-block;
  font-size: 1.8rem;
  margin-left: 3.8rem;
  line-height: 2.8rem;
  letter-spacing: -0.25rem;
  font-weight: 400;
}

.content_map .grayBox_sh .grayBox_wrap .grayBox_4 {
  width: calc(100%);
  padding: 0;
  background-color: #fff;
}

.content_map .grayBox_sh .grayBox_wrap .grayBox_4 img {
  width: 4.2rem;
  height: 4.4rem;
  margin-left: 3%;
  padding: 2.4% 0;
}

.content_map .grayBox_sh .grayBox_wrap .grayBox_4 p {
  margin-left: 2%;
}

.content_map .grayBox_sh .grayBox_wrap .grayBox_4 p span {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.content_map .grayBox_sh .grayBox_13 {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.content_map .grayBox_sh .grayBox_13 .grayBox_1, .content_map .grayBox_sh .grayBox_13 .grayBox_3 {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: flex;
}

.content_map .grayBox_sh .grayBox_13 .grayBox_1 img, .content_map .grayBox_sh .grayBox_13 .grayBox_2 img, .content_map .grayBox_sh .grayBox_13 .grayBox_3 img {
  width: 4.2rem;
  height: 4.4rem;
}

.content_map .grayBox_sh .grayBox_13 .grayBox_2 {
  margin: 0 0.1rem;
}

.content .grayBox_sh .grayBox_img img {
  width: 48%;
  max-width: 61.3rem;
  -webkit-box-shadow: 0 0.2rem 1.3rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.2rem 1.3rem rgba(0, 0, 0, 0.5);
}

.youthCouncil-top .img-wrap-sh {
  width: 47.5rem;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.youthCouncil-top .img-wrap-sh img {
  display: block;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 12rem;
  -webkit-box-shadow: 1rem 1rem 1.8rem rgba(0, 0, 0, 0.1);
          box-shadow: 1rem 1rem 1.8rem rgba(0, 0, 0, 0.1);
}

.youthCouncil_sh .youthCouncil-des {
  padding-right: 10.5rem;
}

.youthCouncil_sh .youthCouncil-bottom .cont p {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 8rem;
  text-align: left;
  border-radius: .3rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3.2rem;
  border: none;
}

/*================================================================================================
===========================================  responsive ==========================================
==================================================================================================*/
@media screen and (max-width: 1200px) {
  .grayBox_sh .grayBox_img {
    width: 100%;
  }
  .grayBox_sh img:nth-child(1) {
    margin-left: 1rem;
    width: 48%;
  }
  .grayBox_sh img:nth-child(2) {
    width: 48%;
  }
  .content_ci .grayBox_sh .info p {
    padding-top: 6rem;
    padding-bottom: 6rem;
    width: 90%;
    margin: 0 auto;
  }
  .content_ci .grayBox_sh .grayBox_ul li img {
    width: 95%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .content_ch .grayBox_sh .grayBox_img img {
    width: 100%;
  }
  .content_map .info {
    padding: 0;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content_map .info .bus1, .content_map .info .bus2 {
    margin-left: 1.4rem;
  }
  .content_map .grayBox_wrap .grayBox_1, .content_map .grayBox_wrap .grayBox_2, .content_map .grayBox_wrap .grayBox_3 {
    padding: 3.2% 2.7%;
  }
  .content_map .grayBox_wrap .grayBox_4 {
    padding: 3% 0;
  }
}

@media screen and (max-width: 768px) {
  .grayBox_sh .grayBox_img {
    width: 78%;
    margin: 0 auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .grayBox_sh .grayBox_img img {
    width: calc(100% / 2);
    height: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .grayBox_sh .grayBox_ul {
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .grayBox_sh .info p {
    width: 80%;
    margin: 0 auto;
    font-size: 1.7rem;
    line-height: 3.6rem;
    font-weight: 400;
  }
  .content_ci {
    width: 100%;
    overflow: hidden;
  }
  .content_ci .grayBox_sh .info p {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .content_ci .grayBox_sh .info::before {
    top: -20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .content_ch .grayBox_sh .grayBox_ul li img {
    width: 95%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .content_ch .grayBox_sh .grayBox_ul .list2, .content_ch .grayBox_sh .grayBox_ul .list3, .content_ch .grayBox_sh .grayBox_ul .list4 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .content_ch .grayBox_sh .info::before {
    width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -30.5rem;
    height: calc(100% + 30.5rem);
    background-color: #f5f8f9;
  }
  .content_map {
    padding-bottom: 7.8rem;
    margin: 0 auto;
  }
  .content_map .grayBox_sh .grayBox_img {
    width: 100%;
    margin: 0 auto;
  }
  .content_map .grayBox_sh .info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content_map .grayBox_sh .info .bus1, .content_map .grayBox_sh .info .bus2 {
    width: 90%;
    margin: 0 auto;
  }
  .content_map .grayBox_sh .info .bus1 > p, .content_map .grayBox_sh .info .bus2 > p {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .content_map .grayBox_wrap .grayBox_1, .content_map .grayBox_wrap .grayBox_2, .content_map .grayBox_wrap .grayBox_3 {
    width: calc(100% / 4);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content_map .grayBox_wrap .grayBox_4 {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: flex;
  }
  .content_map .grayBox_wrap .grayBox_4 p {
    text-align: left;
    margin-left: 2rem;
  }
  .content_map .grayBox_wrap .grayBoxd {
    padding: 4.2% 2.7%;
  }
  .content_map .grayBox_wrap .grayBoxd p {
    display: inline-block;
    font-size: 1.8rem;
    margin-left: 0;
    line-height: 2.8rem;
    text-align: center;
    letter-spacing: -0.25rem;
    font-weight: 400;
  }
  .content_map .grayBox_wrap .grayBoxd p span {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    width: 20rem;
    margin: 1rem 0;
  }
}

@media screen and (max-width: 360px) {
  .grayBox_sh .info p {
    width: 51rem;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 3.6rem;
    font-weight: 400;
  }
}
